<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/lightbox.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <script src="js/jquery-1.11.1.min.js"></script>

</head>
<body>
    <link href="css/site.css" type="text/css" rel="stylesheet" media="all">

    <h3 class="title"></br>Contact Us</h3>
    <div class="col-md-7 contact-right wow fadeInLeft animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <form>
            <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
            <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
            <input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
            <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
            <input type="submit" value="Submit">
            <div></br></div>
        </form>
    </div>
    <div class="col-md-5 contact-left wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <p>"Lorem Ipsum"is the common name dummy text often used in the design, printing, and type setting industriescommon name dummy text often used in the design, printing, and type setting industries. "</p>
        <ul>
            <li><span></span>Grondhuttenweg , Enschede.</li>

            <li><span class="mail"></span><a href="mailto:example@mail.com">RentACar@gmail.com</a></li>
            <li><span class="ph-no"></span>000-1234-1234</li>
        </ul>
    </div>
    <div class="clearfix"> </div>
    </body>
</html>