

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/lightbox.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <script src="js/jquery-1.11.1.min.js"></script>

</head>
<body>

    <div class="banner">
        <div class="banner-title">
            <div class="">

                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="banner-text">
                                <h2>Volkswagen Polo</h2>
                                <p>
                                    1.0 TSI Comfortline</br>
                                    Benzine | 150Km | Handgeschakeld</br>
                                    Voor maar €30 per dag
                                </p>
                                <a class="more" href="#"> Read More</a>
                            </div>
                        </li>
                        <li>
                            <div class="banner-text">
                                <h2>CarZone Ohh </h2>
                                <p>Vitae Deonec tellus non sem vulputate cursus. Aliquam erat volutpat. Proin ut est et sem rhoncus fringilla laoreet </p>
                                <a class="more" href="#"> Read More</a>
                            </div>
                        </li>
                        <li>
                            <div class="banner-text">
                                <h2>ZoneCar Ohh</h2>
                                <p>Sem donec vitae tellus non  vulputate cursus. Aliquam erat volutpat. Proin ut est et sem rhoncus fringilla laoreet </p>
                                <a class="more" href="#"> Read More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>

    <h3 class="title"></br>Contact Us</h3>
    <div class="col-md-7 contact-right  fadeInLeft animated" data-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <form>
            <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
            <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
            <input type="text" value="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
            <textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
            <input type="submit" value="Submit">
            <div></br></div>
        </form>
    </div>
    <div class="col-md-5 contact-left  fadeInRight animated" data-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <p>"Lorem Ipsum"is the common name dummy text often used in the design, printing, and type setting industriescommon name dummy text often used in the design, printing, and type setting industries. "</p>
        <ul>
            <li><span></span>Grondhuttenweg , Enschede.</li>

            <li><span></span><a href="mailto:example@mail.com">RentACar@gmail.com</a></li>
            <li><span></span>000-1234-1234</li>
        </ul>
    </div>
    <div class="clearfix"> </div>


    <script src="js/bootstrap.js"></script>
</body>
</html>