@model Rent_A_Car.Models.VoertuigRegistratie
    <div>
        <div class="loginPage">
            <div class="loginContainer1">
                <div class="loginLogo">
                    <h4>VoertuigRegistratie</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Merk" class="control-label"></label>
                                    <input asp-for="Merk" class="form-control" />
                                    <span asp-validation-for="Merk" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Dagprijs" class="control-label"></label>
                                    <input asp-for="Dagprijs" class="form-control" />
                                    <span asp-validation-for="Dagprijs" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Type" class="control-label"></label>
                                    <input asp-for="Type" class="form-control" />
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Kenteken" class="control-label"></label>
                                    <input asp-for="Kenteken" class="form-control" />
                                    <span asp-validation-for="Kenteken" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Schakelaar" class="control-label"></label>
                                    <input asp-for="Schakelaar" class="form-control" />
                                    <span asp-validation-for="Schakelaar" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Brandstof" class="control-label"></label>
                                    <input asp-for="Brandstof" class="form-control" />
                                    <span asp-validation-for="Brandstof" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AantalZitPlaats" class="control-label"></label>
                                    <input asp-for="AantalZitPlaats" class="form-control" />
                                    <span asp-validation-for="AantalZitPlaats" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="Airco" /> @Html.DisplayNameFor(model => model.Airco)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AantalDeur" class="control-label"></label>
                                    <input asp-for="AantalDeur" class="form-control" />
                                    <span asp-validation-for="AantalDeur" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BeginDatum" class="control-label"></label>
                                    <input asp-for="BeginDatum" class="form-control" />
                                    <span asp-validation-for="BeginDatum" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BeginDatum" class="control-label"></label>
                                    <input asp-for="AantalDagen" class="form-control" />
                                    <span asp-validation-for="AantalDagen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_Validationtial");}
    }
