@model Rent_A_Car.Models.VoertuigRegistratie
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/lightbox.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <script src="js/jquery-1.11.1.min.js"></script>

    </head>
    <body>
        <div class="loginPage2">
            <div class="loginContainer">
                <div class="wittevak2">
                    <div class="loginLogo">
                        <img id="loginLogo2" src="~/lib/Images/carpng1.png" />
                        <h2>Edit</h2>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="VoertuigId" />
                                <div class="form-group">
                                    <label asp-for="MedewerkerId" class="control-label"></label>
                                    <input asp-for="MedewerkerId" class="form-control" />
                                    <span asp-validation-for="MedewerkerId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Merk" class="control-label"></label>
                                    <input asp-for="Merk" class="form-control" />
                                    <span asp-validation-for="Merk" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Dagprijs" class="control-label"></label>
                                    <input asp-for="Dagprijs" class="form-control" />
                                    <span asp-validation-for="Dagprijs" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Type" class="control-label"></label>
                                    <input asp-for="Type" class="form-control" />
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Kenteken" class="control-label"></label>
                                    <input asp-for="Kenteken" class="form-control" />
                                    <span asp-validation-for="Kenteken" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Schakelaar" class="control-label"></label>
                                    <input asp-for="Schakelaar" class="form-control" />
                                    <span asp-validation-for="Schakelaar" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Brandstof" class="control-label"></label>
                                    <input asp-for="Brandstof" class="form-control" />
                                    <span asp-validation-for="Brandstof" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AantalZitPlaats" class="control-label"></label>
                                    <input asp-for="AantalZitPlaats" class="form-control" />
                                    <span asp-validation-for="AantalZitPlaats" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="AantalZitPlaats" />
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AantalDeur" class="control-label"></label>
                                    <input asp-for="AantalDeur" class="form-control" />
                                    <span asp-validation-for="AantalDeur" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BeginDatum" class="control-label"></label>
                                    <input asp-for="BeginDatum" class="form-control" />
                                    <span asp-validation-for="BeginDatum" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EindDatum" class="control-label"></label>
                                    <input asp-for="EindDatum" class="form-control" />
                                    <span asp-validation-for="EindDatum" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AantalDagen" class="control-label"></label>
                                    <input asp-for="AantalDagen" class="form-control" />
                                    <span asp-validation-for="AantalDagen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
                    </body>